<html>
  <head>
    <title>LangEvolve</title>

    <!-- Bootstrap and JQuery files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
    // Trigger the evolve function when link is clicked
    $(function() {
      $("#evolvetrigger").click(function(e) {evolve()});      
    });
    
    // Request the evolved language from Flask and display it
    function evolve() {
      var args = {words: $('textarea[name="word_list"]').val(),
                  generations: $('input[name="generations"]').val()}
      $.post('/evolve', args).done(function(evolved) {
        document.getElementById('rules').appendChild(join_array(evolved['rules']));
        document.getElementById('words').appendChild(join_array(evolved['words']));
                         }).fail(function() {
                              $(words).text("Error occurred")});
                         };
    // Joins an array of text into a list element 
    function join_array(a) {
      var list = document.createElement('ul');
      for (var i = 0; i < a.length; i++) {
        var item = document.createElement('li');
        item.appendChild(document.createTextNode(a[i]));
        list.appendChild(item);
      }
      return list
    };
    
    // When the window is loaded, save the automatic panel heights.
    window.onload = function set_panels(){
      save_info();
      resize_panels();
    };
    
    window.onresize = resize_panels;
    
    function save_info(){
        window.info_height = $('#info_panel').height();
        window.word_height = $('#word_panel').height();
        window.settings_height = $('#settings_panel').height();
    };
    
    // If the panels are side-by-side, resize them to all be the height
    // of the words panel. Otherwise, set them back to the automatic heights.
    function resize_panels(){
        if ( $(window).width() > 768) {
          $('#info_panel').height(window.word_height);
          $('#settings_panel').height(window.word_height);  
        } else {
          $('#info_panel').height(window.info_height);
          $('#word_panel').height(window.word_height);
          $('#settings_panel').height(window.settings_height);
        }
        
    };
    </script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        
        <!-- The information panel -->
        <div class="col-md-4">
          <div class="panel panel-default" id="info_panel">
            <div class="panel-body">
              <h1>LangEvolve</h1>

              <p>LangEvolve is a (mostly) linguistically-accurate language evolution simulator. Enter a list of words to evolve to the right, tweak the settings, and hit <emph>Evolve!</emph> to see it in action.</p>

              <div><a id="evolvetrigger" href="#" class="btn btn-primary center-block">Evolve!</a></div>
            </div>
          </div>
        </div>
        
        <!-- The word list panel -->
        <div class="col-md-4">
          <div class="panel panel-default" id="word_panel">
            <div class="panel-heading">
              <h3 class="panel-title">Words</h3>
            </div>
            <div class="panel-body">
              <textarea id="word_list" name="word_list" style="width: 100% !important" rows=20 >Enter words</textarea>
            </div>
          </div>
        </div>
        
        <!-- The settings panel -->
        <div class="col-md-4">
          <div class="panel panel-default" id="settings_panel">
            <div class="panel-heading">
              <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="generations">Generations</label>
                  <input type="number" class="form-control" id = "generations" name="generations" value="5">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <p><span id="rules"></p>
      <p><span id="words"></p>
    </div>
  </body>
</html>
