<html>
  <head>
    <title>LangEvolve</title>

    <!-- Bootstrap and JQuery files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <style>
     textarea {
         border: 1px solid #dddddd;}

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
    // Enable tooltip functionality of Bootstrap
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    // Trigger the evolve function when link is clicked
    $(function() {
      $("#evolvetrigger").click(function(e) {evolve()});
    });

    // Request the evolved language from Flask and display it
    function evolve() {
      var args = {words: $('textarea[name="word_list"]').val(),
                  generations: $('input[name="generations"]').val(),
                  transcriptions: $('textarea[name="transcription_list"]').val()}

      $.post('/evolve', args).done(function(evolved) {
        if (evolved['error'] != 0) {
          show_alert_box(evolved['error']);
        } else {
          $('#alert_area').hide();
          document.getElementById('rules').innerHTML = "";
          document.getElementById('words').innerHTML = "";
          document.getElementById('rules').appendChild(join_rules_array(evolved['rules'], 'Sound change rules'));
          document.getElementById('words').appendChild(create_text_area(evolved['words'], 'Evolved words'));
        }
                         }).fail(function() {
                              show_alert_box('An error occured')});
                         };

    function show_alert_box(alert_text) {
      $('#alert_message').text(alert_text);
      $('#alert_area').show();
    }

    // Joins an array of rules into a list group within a titled panel
    function join_rules_array(a, title) {
      var list = document.createElement('ul');
      list.className = "list-group";

      for (var i = 0; i < a.length; i++) {
        var item = document.createElement('li');
        item.className = "list-group-item";
        item.innerHTML = '<strong>' + a[i][0] + '</strong> ' + a[i][1] + ' &#8594; ' + a[i][2] + ' (' + a[i][3] + ')';
        list.appendChild(item);
      }
      return build_panel(list, title, false)
    };

    // Joins an array of text into a list group within a titled panel
    function join_array(a, title) {
      var list = document.createElement('ul');
      list.className = "list-group";

      for (var i = 0; i < a.length; i++) {
        var item = document.createElement('li');
        item.className = "list-group-item";
        item.appendChild(document.createTextNode(a[i]));
        list.appendChild(item);
      }

      return build_panel(list, title, false)
    };

    // Creates a panel with a text area populated from a list
    // of strings.
    function create_text_area(populate, title) {
      var text = document.createElement('textarea');
      text.innerHTML = populate.join('\n');
      text.style = "width: 100% !important";
      text.rows = populate.length;

      return build_panel(text, title, true)
    }

    // Creates a panel with given title and contents
    function build_panel(contents, title, body) {
      var panel = document.createElement('div');
      panel.className = "panel panel-default";
      var titleDiv = document.createElement('div');
      titleDiv.className = "panel-heading";
      var heading = document.createElement('h3');
      heading.className = "panel-title";
      heading.appendChild(document.createTextNode(title));

      titleDiv.appendChild(heading);
      panel.appendChild(titleDiv);

      if (body == true) {
        var body = document.createElement('div');
        body.className = "panel-body";
        body.appendChild(contents);
        panel.appendChild(body);
      } else {

          panel.appendChild(contents);
      };

      return panel
    };

    // When the window is loaded, save the automatic panel heights.
    window.onload = function set_panels(){
      save_info();
      resize_panels();
    };

    window.onresize = resize_panels;

    function save_info(){
        window.word_height = $('#word_panel').height();
        window.settings_height = $('#settings_panel').height();
    };

    // If the panels are side-by-side, resize them to all be the height
    // of the words panel. Otherwise, set them back to the automatic heights.
    function resize_panels(){
        if ( $(window).width() > 768) {
          $('#settings_panel').height(window.word_height);
        } else {
          $('#word_panel').height(window.word_height);
          $('#settings_panel').height(window.settings_height);
        }

    };
    </script>

  </head>
  <body>
    <div class="container">
      <!-- Area for alerts -->
      <div id="alert_area" class="alert alert-warning alert-dismissable" role="alert" style="display: none">
        <button type="button" class="close" onclick="$('#alert_area').hide();">&times;</button>
        <p id="alert_message">Error</p>
      </div>

      <div class="row">

        <!-- The information panel -->
        <div class="col-md-4">
              <h1>LangEvolve</h1>

              <p>LangEvolve is a (mostly) linguistically-accurate language evolution simulator. Enter a list of words to evolve to the right, tweak the settings, and hit <emph>Evolve!</emph> to see it in action.</p>

              <div><a id="evolvetrigger" href="#" class="btn btn-primary center-block">Evolve!</a></div>
              <br>
        </div>

        <!-- The word list panel -->
        <div class="col-md-4">
          <div class="panel panel-default" id="word_panel">
            <div class="panel-heading">
              <h3 class="panel-title">Words</h3>
            </div>
            <div class="panel-body">
                <p>Enter a list of words, one per line, which will be evolved.</p>
              <textarea id="word_list" name="word_list" style="width: 100% !important" rows=20 ></textarea>
            </div>
          </div>
        </div>

        <!-- The settings panel -->
        <div class="col-md-4">
          <div class="panel panel-default" id="settings_panel">
            <div class="panel-heading">
              <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="generations">Generations</label>
                  <i class="fa fa-question-circle" data-toggle="tooltip" title="The number of sound change rules to apply during evolution" data-placement="right"></i>
                  <input type="number" class="form-control" id = "generations" name="generations" value="5">
                </div>
                <div class="form-group">
                  <label for="transcriptions">Transcriptions</label>
                  <i class="fa fa-question-circle" data-toggle="tooltip" title="A list of plain text to IPA transcriptions, separated by colons" data-placement="right"></i>
                  <textarea id="transcription_list" name="transcription_list" style="width: 100% !important" rows=5 placeholder="ng:ŋ"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <!-- Output area -->
      <div class="row">
        <div class="col-md-6">
          <div id="rules"></div>
        </div>
        <div class="col-md-6">
          <div id="words"></div>
        </div>
      </div>
    </div>
  </body>
</html>
