<html>
  <head>
    <title>LangEvolve</title>

    <!-- Bootstrap and JQuery files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <style>
     textarea {
         border: 1px solid #dddddd;}

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/main.js"></script>

  </head>
  <body>
    <div class="container">
      <!-- Area for alerts -->
      <div id="alert_area" class="alert alert-warning alert-dismissable" role="alert" style="display: none">
        <button type="button" class="close" onclick="$('#alert_area').hide();">&times;</button>
        <p id="alert_message">Error</p>
      </div>

      <div class="row">

        <!-- The information panel -->
        <div class="col-md-4">
              <h1>LangEvolve</h1>

              <p>LangEvolve is a (mostly) linguistically-accurate language evolution simulator. Enter a list of words to evolve to the right, tweak the settings, and hit <emph>Evolve!</emph> to see it in action.</p>

              <div><a id="evolvetrigger" href="#" class="btn btn-primary center-block">Evolve!</a></div>
              <br>
        </div>

        <!-- The word list panel -->
        <div class="col-md-4">
          <div class="panel panel-default" id="word_panel">
            <div class="panel-heading">
              <h3 class="panel-title">Words</h3>
            </div>
            <div class="panel-body">
                <p>Enter a list of words, one per line, which will be evolved.</p>
              <textarea id="word_list" name="word_list" style="width: 100% !important" rows=20 ></textarea>
            </div>
          </div>
        </div>

        <!-- The settings panel -->
        <div class="col-md-4">
          <div class="panel panel-default" id="settings_panel">
            <div class="panel-heading">
              <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="generations">Generations</label>
                  <i class="fa fa-question-circle" data-toggle="tooltip" title="The number of sound change rules to apply during evolution" data-placement="right"></i>
                  <input type="number" class="form-control" id = "generations" name="generations" value="5">
                </div>
                <div class="form-group">
                  <label for="transcriptions">Transcriptions</label>
                  <i class="fa fa-question-circle" data-toggle="tooltip" title="A list of plain text to IPA transcriptions, separated by colons" data-placement="right"></i>
                  <textarea id="transcription_list" name="transcription_list" style="width: 100% !important" rows=5 placeholder="ng:ŋ"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <!-- Output area -->
      <div class="row">
        <div class="col-md-6">
          <div id="rules"></div>
        </div>
        <div class="col-md-6">
          <div id="words"></div>
        </div>
      </div>
    </div>
  </body>
</html>
